<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622806033992-9uqgci1p01okk1951880i2f295m014qt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622806033992-9uqgci1p01okk1951880i2f295m014qt</string>
	<key>API_KEY</key>
	<string>AIzaSyDPPA-zjN5eSHHd8BpSx3wW8Ut6c8ARjFw</string>
	<key>GCM_SENDER_ID</key>
	<string>622806033992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HackMIT2019.MemoryEye</string>
	<key>PROJECT_ID</key>
	<string>hackmit2019-252922</string>
	<key>STORAGE_BUCKET</key>
	<string>hackmit2019-252922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622806033992:ios:81cd37b1cf5422f44f9a7d</string>
	<key>DATABASE_URL</key>
	<string>https://hackmit2019-252922.firebaseio.com</string>
</dict>
</plist>